<!DOCTYPE html>
<html lang="en">

<body>
    <ul>
        <li><a href = '/BSD'>BSD Students</a></li>
        <li><a href = '/allStudents'>All Students</a></li>
        <li><a href = '/highGPA'>Highest GPA</a></li>
        <li><a href = '/'>Home</a></li>
    </ul>
    <hr/>
    {{{body}}}
    <hr/>
    <h2>Student Honour Pledge</h2>
    <label>
        I acknowledge Seneca's academic policy. <br>
        On my honour, I have neither given or received unauthorized aid on this test.<br>
        <br><br>Name: <mark><b>Meetsimar Kaur</b></mark><br>
        <br>Student Number: 
        <mark><b>106510217</b></mark><br><br>
    </label>
</body>

</html>