<h2>Student Info</h2>
<label>Student ID: {{students.studId}}</label><br><br>
<label>Name: {{students.name}}</label><br><br>
<label>Program: {{students.program}}</label><br><br>
<label>GPA: {{students.gpa}}</label><br>